
:root {
    --background-color-1: rgb(255, 255, 255);
    --background-color-2: rgb(195, 235, 255);
    --background-color-3: rgb(156, 235, 253);
    --background-color-4: rgb(120, 235, 255);
    --background-color-5: rgb(224, 247, 250);
}

* {
    color: black;
}

@keyframes background-anim {
    from {
    background: linear-gradient(210deg, var(--background-color-1) 5%, var(--background-color-2) 25%, var(--background-color-3) 50%, var(--background-color-4) 75%, var(--background-color-5) 95%);
    }
    25% {
    background: linear-gradient(210deg, var(--background-color-5)  5%, var(--background-color-1) 25%, var(--background-color-2) 50%, var(--background-color-3) 75%, var(--background-color-4) 95%);
    }
    50% {
    background: linear-gradient(210deg, var(--background-color-4)  5%, var(--background-color-5) 25%, var(--background-color-1) 50%, var(--background-color-2)  75%, var(--background-color-3) 95%);
    }
    75% {
    background: linear-gradient(210deg, var(--background-color-3)  5%, var(--background-color-4) 25%, var(--background-color-5) 50%, var(--background-color-1)75%, var(--background-color-2)  95%);
    }
    to { 
    background: linear-gradient(210deg, var(--background-color-2) 5%, var(--background-color-3) 25%, var(--background-color-4) 50%, var(--background-color-5) 75%, var(--background-color-1)  95%);
    }
    }

body {
    animation-name: background-anim;
    animation-duration: 1s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear ;
    animation-delay: 0.001s;
}
