@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Mountains+of+Christmas:wght@400;700&family=Tiny5&display=swap');

@import url("./buttons.css");
@import url("./fonts.css");
@import url("./light_theme.css");
/* @import url("./dark_theme.css"); */



:root {
    --color-primary: #030000;
    --color-border-top: #ec0000;
    --color-border-bottom: #040286;
    --color-border-left: #33db00;
    --color-border-right: #c0ce05;
}

p {
    border: 2px solid var(--color-primary);
    /* color: var(--color-primary); */
}

div {
    border-bottom: solid 1px var(--color-border-left);
    border-top: solid 1px var(--color-border-left);
    border-left: solid 1px var(--color-border-left);
    border-right: solid 1px var(--color-border-left);
}


body {
    font-size: 20px;
    font-weight: normal;
    /* font-family:"Henny Penny", system-ui; */
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}

.area__column {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 2px;
    max-height: auto;
}

.area__column  div {
    visibility: hidden;
    font-size: 0vh;
}
/*
.area__column  div {
    /* background: red;
    visibility: visible; 
}

.area__column *:hover {
    /* background-color: #030000;
    visibility: visible; 
} */

.lessons {
    flex-direction: column;
    gap: 40px;
    border-top: dashed black;
    width: 9vmax;
    /* border-bottom: dashed black; */
}

.lessons > div:first-child {
    visibility: visible;
    font-size: 1vmax;
}

.lessons:hover {
    visibility: visible;
    font-size: 20px;
    transition: ease-in-out 0.5s;
    /* transform: trasition; */
}

.lessons div {
    font-size: inherit;
    visibility: inherit;
}

.lessons:last-child {
    border-bottom: dashed black;
}

.lessons p:hover {
    text-decoration: underline;
}

.text__name {
    border: solid 2px black;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    /* color: aliceblue; */
}

.text__style {
    border: 2px solid black;
    font-family: "Mountains of Christmas", serif;
    font-weight: 700;
    font-style: normal;
    /* color: aliceblue; */
    /* visibility: hidden; */
}

.text {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

/* @keyframes circle-anim {
    from {
        align-self: flex-start;
    }
    33% {
        align-self: center;
    }
    66% {
        align-self: flex-end;
    }
    to {
        align-self: center;
    }
} */

@keyframes circle-anim-one {
    from {
        width: 33px;
        height: 33px;
    }
    50% {
        width: 33px;
        height: 100px;
    }
    to {
        width: 100px;
        height: 100px;
    }
}

@keyframes circle-anim-two {
    from {
        align-self: start;
    }
    33% {
        align-self: center;
    }
    67% {
        align-self: end;
    }
    to {
        align-self: center;
    }
}


.container {
    background-color: rgb(0, 0, 0);
    position: relative;
    box-sizing: border-box;
    height: 105px;
    /* display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 5px;
    gap: 25px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.block__container {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    max-height: 100px;
}

.block {
    border-radius: 33px;
}

#block_one {
    width: 100%;
    height: 100%;;

    background-color: blueviolet;
}

#block_two {
    background-color: darkorange;
    animation-name: circle-anim-one;
    animation-duration: 1.5s ;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

#block_three {
    width: 30px;
    height: 30px;
    display: flex;
    background-color: red;
    animation-name: circle-anim-two;
    animation-duration: 1s; ;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-delay: 1s;
}

#block_four {
    width: 100px;
    height: 100px;
    background-color: rgb(43, 55, 226);
}

#block_five {
    width: 100px;
    height: 100px;;
    background-color: rgb(245, 241, 5);
}